<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="scanRecebedor()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recebedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let recebedor of recebedores">
      {{ recebedor.nome }}
      <ion-button slot="end" (click)="removeRecebedor(recebedor)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
